In [1]:
# dependencies
import pandas as pd
import numpy as np
import pymongo
from pymongo import MongoClient

In [2]:
# import csvs

# cleaned data

nuke_file = pd.read_csv("data/cleaned_nuke.csv")

countries_file = pd.read_csv("data/countries.csv")

happy_file = pd.read_csv("data/suicide.csv")

d3_file = pd.read_csv("data/nuked3.csv")

log_file = pd.read_csv("data/log_nukes.csv")

In [5]:
# import to data bases
nuke_df = pd.DataFrame(nuke_file)

countries_df = pd.DataFrame(countries_file)

happy_df = pd.DataFrame(happy_file)

d3_df = pd.DataFrame(d3_file)

log_df = pd.DataFrame(log_file)

log_df.head()

,Unnamed: 0,Country,Code,Year,Nukes,Country_Year,GDP,color,conversion,gdp_dollar,log_nukes
0,4,China,CHN,1964,1,China 1964,1268.46,goldenrod,0.1491,189.127386,0.000000
1,5,China,CHN,1965,5,China 1965,1448.56,goldenrod,0.1491,215.980296,0.698970
2,6,China,CHN,1966,20,China 1966,1558.77,goldenrod,0.1491,232.412607,1.301030
3,7,China,CHN,1967,25,China 1967,1431.55,goldenrod,0.1491,213.444105,1.397940
4,8,China,CHN,1968,35,China 1968,1337.48,goldenrod,0.1491,199.418268,1.544068

In [4]:
countries_df

    country   latitude  longitude                  name
0        AD  42.546245   1.601554               Andorra
1        AE  23.424076  53.847818  United Arab Emirates
2        AF  33.939110  67.709953           Afghanistan
3        AG  17.060816 -61.796428   Antigua and Barbuda
4        AI  18.220554 -63.068615              Anguilla
..      ...        ...        ...                   ...
240      YE  15.552727  48.516388                 Yemen
241      YT -12.827500  45.166244               Mayotte
242      ZA -30.559482  22.937506          South Africa
243      ZM -13.133897  27.849332                Zambia
244      ZW -19.015438  29.154857              Zimbabwe

[245 rows x 4 columns]

In [5]:
happy_df

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation
0,Albania,1987,male,15-24 years,21,312900,6.71,Albania1987,NaN,"2,156,624,900",796,Generation X
1,Albania,1987,male,35-54 years,16,308000,5.19,Albania1987,NaN,"2,156,624,900",796,Silent
2,Albania,1987,female,15-24 years,14,289700,4.83,Albania1987,NaN,"2,156,624,900",796,Generation X
3,Albania,1987,male,75+ years,1,21800,4.59,Albania1987,NaN,"2,156,624,900",796,G.I. Generation
4,Albania,1987,male,25-34 years,9,274300,3.28,Albania1987,NaN,"2,156,624,900",796,Boomers
...,...,...,...,...,...,...,...,...,...,...,...,...
27815,Uzbekistan,2014,female,35-54 years,107,3620833,2.96,Uzbekistan2014,0.675,"63,067,077,179",2309,Generation X
27816,Uzbekistan,2014,female,75+ years,9,348465,2.58,Uzbekistan2014,0.675,"63,067,077,179",2309,Silent
27817,Uzbekistan,2014,male,5-14 years,60,2762158,2.17,Uzbekistan2014,0.675,"63,067,077,179",2309,Generation Z
27818,Uzbekistan,2014,female,5-14 years,44,2631600,1.67,Uzbekistan2014,0.675,"63,067,077,179",2309,Generation Z
27819,Uzbekistan,2014,female,55-74 years,21,1438935,1.46,Uzbekistan2014,0.675,"63,067,077,179",2309,Boomers

In [3]:
# drop country column in countries_df
countries_df = countries_df.drop(columns=["country"])

# countries_df.head()

NameError: name 'countries_df' is not defined

In [7]:
# renaming columns
countries_df = countries_df.rename(columns={"latitude":"Latitude", "longitude":"Longitude", "name":"Country"})
countries_df.head()

    Latitude  Longitude               Country
0  42.546245   1.601554               Andorra
1  23.424076  53.847818  United Arab Emirates
2  33.939110  67.709953           Afghanistan
3  17.060816 -61.796428   Antigua and Barbuda
4  18.220554 -63.068615              Anguilla

In [8]:
merge_ltlng = pd.merge(nuke_df, countries_df, on='Country')

merge_ltlng.head()

,Unnamed: 0,Country,Code,Year,Quantity of Nuclear Weapons,Country_Year,GDP (Current LCU),Latitude,Longitude
0,0,China,CHN,1960,0,China 1960,1483.49,35.86166,104.195397
1,1,China,CHN,1961,0,China 1961,1089.96,35.86166,104.195397
2,2,China,CHN,1962,0,China 1962,1020.73,35.86166,104.195397
3,3,China,CHN,1963,0,China 1963,1098.53,35.86166,104.195397
4,4,China,CHN,1964,1,China 1964,1268.46,35.86166,104.195397

In [9]:
# drop unnamed index from merge_ltlng

lat_merged_df = merge_ltlng.drop(columns=["Unnamed: 0"])

lat_merged_df.head()

,Country,Code,Year,Quantity of Nuclear Weapons,Country_Year,GDP (Current LCU),Latitude,Longitude
0,China,CHN,1960,0,China 1960,1483.49,35.86166,104.195397
1,China,CHN,1961,0,China 1961,1089.96,35.86166,104.195397
2,China,CHN,1962,0,China 1962,1020.73,35.86166,104.195397
3,China,CHN,1963,0,China 1963,1098.53,35.86166,104.195397
4,China,CHN,1964,1,China 1964,1268.46,35.86166,104.195397

In [10]:
# renaming columns for ease with database
lat_merged_df = lat_merged_df.rename(columns={"Quantity of Nuclear Weapons":"Quantity_of_Nuclear_Weapons",
                                            "GDP (Current LCU)":"GDP"})
lat_merged_df.head()

,Country,Code,Year,Quantity_of_Nuclear_Weapons,Country_Year,GDP,Latitude,Longitude
0,China,CHN,1960,0,China 1960,1483.49,35.86166,104.195397
1,China,CHN,1961,0,China 1961,1089.96,35.86166,104.195397
2,China,CHN,1962,0,China 1962,1020.73,35.86166,104.195397
3,China,CHN,1963,0,China 1963,1098.53,35.86166,104.195397
4,China,CHN,1964,1,China 1964,1268.46,35.86166,104.195397

In [11]:
happy_df = happy_df.rename(columns={"country-year":"Country_Year"})
happy_df["Country_Year"].unique()

array(['Albania1987', 'Albania1988', 'Albania1989', ..., 'Uzbekistan2012',
       'Uzbekistan2013', 'Uzbekistan2014'], dtype=object)

In [ ]:
# exporting a csv to combine with happiness indicators
# lat_merged_df.to_csv("data/nuke_coordinates_csv", index=False)

# Database Connection

In [6]:
#Define connection link an instantiate client
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)

#Define the 'nukeDB' database in Mongo
db = client.nukeDB

#Declare the by_location collection
by_location = db.by_location
happyGeo = db.happyGeo
d3_collection = db.d3_collection
log_collection = db.log_collection

In [ ]:
#Instantiate for loop for populating business collection
for index, row in lat_merged_df.iterrows():
    #Populate post dictionary with information to be inserted into business collection
    post = {
        "Country_Year": str(row["Country_Year"]),
        "Country": str(row["Country"]),
        "Code": str(row["Code"]),
        "Year": int(row["Year"]),
        "Quantity_of_Nuclear_Weapons": int(row["Quantity_of_Nuclear_Weapons"]),
        "GDP": float(row["GDP"]),
        "Latitude":float(row["Latitude"]),
        "Longitude":float(row["Longitude"])
    }
    #Insert data into business collection, post{} by post{}
    by_location.insert_one(post)

In [7]:
#Instantiate for loop for populating business collection
for index, row in d3_df.iterrows():
    #Populate post dictionary with information to be inserted into business collection
    post = {
        "Country_Year": str(row["Country_Year"]),
        "Country": str(row["Country"]),
        "Code": str(row["Code"]),
        "Year": int(row["Year"]),
        "Nukes": int(row["Nukes"]),
        "gdp_dollar": float(row["gdp_dollar"]),
        "color": str(row["color"])
    }
    #Insert data into business collection, post{} by post{}
    d3_collection.insert_one(post)

In [8]:
#Instantiate for loop for populating business collection
for index, row in log_df.iterrows():
    #Populate post dictionary with information to be inserted into business collection
    post = {
        "Country_Year": str(row["Country_Year"]),
        "Country": str(row["Country"]),
        "Code": str(row["Code"]),
        "Year": int(row["Year"]),
        "Nukes": int(row["Nukes"]),
        "gdp_dollar": float(row["gdp_dollar"]),
        "color": str(row["color"]),
        "log_nukes": float(row["log_nukes"])
    }
    #Insert data into business collection, post{} by post{}
    log_collection.insert_one(post)

# Data to JSON For Visualizations

In [13]:
lat_merged_df.to_json("data/coordinates_json.json")

# Bring in Geo and Happy Data

In [6]:
lat_lon_file = pd.read_csv("data/world_lat_lon.csv")

geo_df = pd.DataFrame(lat_lon_file)
geo_df.head()

,country_code,latitude,longitude,country,usa_state_code,usa_state_latitude,usa_state_longitude,usa_state
0,AD,42.546245,1.601554,Andorra,AK,63.588753,-154.493062,Alaska
1,AE,23.424076,53.847818,United Arab Emirates,AL,32.318231,-86.902298,Alabama
2,AF,33.939110,67.709953,Afghanistan,AR,35.201050,-91.831833,Arkansas
3,AG,17.060816,-61.796428,Antigua and Barbuda,AZ,34.048928,-111.093731,Arizona
4,AI,18.220554,-63.068615,Anguilla,CA,36.778261,-119.417932,California

In [7]:
geo_df = geo_df.rename(columns={"country":"Country", "latitude":"Latitude", "longitude":"Longitude"})
clean_geo_df = geo_df.drop(columns=["country_code","usa_state_code","usa_state_latitude","usa_state_longitude","usa_state"])
clean_geo_df = clean_geo_df[["Country","Latitude","Longitude"]]
clean_geo_df.head()

                Country   Latitude  Longitude
0               Andorra  42.546245   1.601554
1  United Arab Emirates  23.424076  53.847818
2           Afghanistan  33.939110  67.709953
3   Antigua and Barbuda  17.060816 -61.796428
4              Anguilla  18.220554 -63.068615

In [8]:
happy_file = pd.read_csv("data/happy_2020.csv")
happyn_df = pd.DataFrame(happy_file)
happyn_df = happyn_df.rename(columns={"Country name":"Country","Social support":"Social_support","Healthy life expectancy":"Healthy_life_expectancy","Freedom to make life choices":"Freedom_to_make_life_choices","Perceptions of corruption":"Perceptions_of_corruption"})
happyn_df = happyn_df.drop(columns={"Regional indicator","Ladder score","Logged GDP per capita","Standard error of ladder score","upperwhisker","lowerwhisker","Ladder score in Dystopia","Explained by: Log GDP per capita","Explained by: Social support","Explained by: Healthy life expectancy","Explained by: Freedom to make life choices","Explained by: Generosity","Explained by: Perceptions of corruption","Dystopia + residual"})
happy_country_df = happyn_df.loc[happyn_df["Country"].isin(["China","France","India","Israel","Pakistan","Russia","United Kingdom","United States"])]
happy_country_df

,Country,Social_support,Healthy_life_expectancy,Freedom_to_make_life_choices,Generosity,Perceptions_of_corruption
12,United Kingdom,0.936683,72.301605,0.834744,0.263732,0.435916
13,Israel,0.913571,73.200256,0.747581,0.102594,0.780855
17,United States,0.914219,68.299500,0.842620,0.149892,0.699715
22,France,0.937104,73.801933,0.825468,-0.130642,0.583521
65,Pakistan,0.689062,58.253136,0.734834,0.044900,0.745705
72,Russia,0.903151,64.100456,0.729893,-0.151154,0.864803
93,China,0.798761,69.289192,0.898518,-0.181426,0.753971
143,India,0.592201,60.215187,0.881445,0.057552,0.772043

In [9]:
happy_geo_merge_df = pd.merge(clean_geo_df,happy_country_df, on="Country", suffixes=("_geo","_happy"))
happy_geo_merge_df["Healthy_life_expectancy"] = happy_geo_merge_df["Healthy_life_expectancy"].astype(float).map("{:,.2f}".format)
happy_geo_merge_df['Freedom_to_make_life_choices'] = pd.Series(["{0:.2f}%".format(val * 100) for val in happy_geo_merge_df['Freedom_to_make_life_choices']], index = happy_geo_merge_df.index)
happy_geo_merge_df['Perceptions_of_corruption'] = pd.Series(["{0:.2f}%".format(val * 100) for val in happy_geo_merge_df['Perceptions_of_corruption']], index = happy_geo_merge_df.index)
happy_geo_merge_df['Generosity'] = pd.Series(["{0:.2f}%".format(val * 100) for val in happy_geo_merge_df['Generosity']], index = happy_geo_merge_df.index)
happy_geo_merge_df['Social_support'] = pd.Series(["{0:.2f}%".format(val * 100) for val in happy_geo_merge_df['Social_support']], index = happy_geo_merge_df.index)
happy_geo_merge_df.head()

,Country,Latitude,Longitude,Social_support,Healthy_life_expectancy,Freedom_to_make_life_choices,Generosity,Perceptions_of_corruption
0,China,35.861660,104.195397,79.88%,69.29,89.85%,-18.14%,75.40%
1,France,46.227638,2.213749,93.71%,73.80,82.55%,-13.06%,58.35%
2,United Kingdom,55.378051,-3.435973,93.67%,72.30,83.47%,26.37%,43.59%
3,Israel,31.046051,34.851612,91.36%,73.20,74.76%,10.26%,78.09%
4,India,20.593684,78.962880,59.22%,60.22,88.14%,5.76%,77.20%

In [10]:
happy_geo_merge_df.to_csv("data/happy_geo.csv", index=True)

In [11]:
#Instantiate for loop for populating business collection
for index, row in happy_geo_merge_df.iterrows():
    #Populate post dictionary with information to be inserted into business collection
    post = {
        "Country": str(row["Country"]),
        "Latitude": float(row["Latitude"]),
        "Longitude": float(row["Longitude"]),
        "Healthy_life_expectancy": str(row["Healthy_life_expectancy"]),
        "Freedom_to_make_life_choices": str(row["Freedom_to_make_life_choices"]),
        "Generosity": str(row["Generosity"]),
        "Perceptions_of_corruption": str(row["Perceptions_of_corruption"])

    }
    #Insert data into business collection, post{} by post{}
    happyGeo.insert_one(post)

# HappyGeo data to JSON Visualization

In [20]:
happy_geo_merge_df.to_json("data/happy_json.json")